<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TBlogMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TBlog">
    <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="blog_title" jdbcType="VARCHAR" property="blogTitle" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="blog_date" jdbcType="VARCHAR" property="blogDate" />
    <result column="blog_type" jdbcType="VARCHAR" property="blogType" />
    <result column="blog_view" jdbcType="INTEGER" property="blogView" />
    <result column="blog_img" jdbcType="VARCHAR" property="blogImg" />
    <result column="blog_content" jdbcType="VARCHAR" property="blogContent" />
  </resultMap>
</mapper>