<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TJourneyPlanMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TJourneyPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_num" jdbcType="INTEGER" property="customerNum" />
    <result column="prospectus" jdbcType="VARCHAR" property="prospectus" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>