<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TJourneySceniMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TJourneySceni">
    <result column="scenic_id" jdbcType="INTEGER" property="scenicId" />
    <result column="journey_id" jdbcType="INTEGER" property="journeyId" />
  </resultMap>
  <insert id="insert" parameterType="com.youu.youu.manager.bean.TJourneySceni">
    insert into t_journey_sceni (scenic_id, journey_id)
    values (#{scenicId,jdbcType=INTEGER}, #{journeyId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select scenic_id, journey_id
    from t_journey_sceni
  </select>
</mapper>