<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TManagerMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TManager">
    <id column="phone_num" jdbcType="INTEGER" property="phoneNum" />
    <result column="userpswd" jdbcType="VARCHAR" property="userpswd" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="stuts" jdbcType="INTEGER" property="stuts" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_manager
    where phone_num = #{phoneNum,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youu.youu.manager.bean.TManager">
    insert into t_manager (phone_num, userpswd, username, 
      email, create_time, stuts
      )
    values (#{phoneNum,jdbcType=INTEGER}, #{userpswd,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{stuts,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.youu.youu.manager.bean.TManager">
    update t_manager
    set userpswd = #{userpswd,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      stuts = #{stuts,jdbcType=INTEGER}
    where phone_num = #{phoneNum,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select phone_num, userpswd, username, email, create_time, stuts
    from t_manager
    where phone_num = #{phoneNum,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select phone_num, userpswd, username, email, create_time, stuts
    from t_manager
  </select>
</mapper>