<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TScenicdetailsMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TScenicdetails">
    <id column="scenic_id" jdbcType="INTEGER" property="scenicId" />
    <result column="scenic_name" jdbcType="VARCHAR" property="scenicName" />
    <result column="scenic_location" jdbcType="VARCHAR" property="scenicLocation" />
    <result column="scenic_details" jdbcType="VARCHAR" property="scenicDetails" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="ticket_price" jdbcType="DOUBLE" property="ticketPrice" />
  </resultMap>
</mapper>