<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TScenicTicketMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TScenicTicket">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ticket_cart" jdbcType="VARCHAR" property="ticketCart" />
    <result column="scenic_id" jdbcType="INTEGER" property="scenicId" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="phone_num" jdbcType="INTEGER" property="phoneNum" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="order_time" jdbcType="VARCHAR" property="orderTime" />
    <result column="loginacct" jdbcType="VARCHAR" property="loginacct" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="valid_time" jdbcType="VARCHAR" property="validTime" />
    <result column="order_money" jdbcType="DOUBLE" property="orderMoney" />
  </resultMap>
</mapper>