<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youu.youu.manager.dao.TUserMapper">
  <resultMap id="BaseResultMap" type="com.youu.youu.manager.bean.TUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loginacct" jdbcType="VARCHAR" property="loginacct" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone_num" jdbcType="INTEGER" property="phoneNum" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="login_status" jdbcType="INTEGER" property="loginStatus" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="now_date" jdbcType="VARCHAR" property="nowDate" />
    <result column="last_date" jdbcType="VARCHAR" property="lastDate" />
    <result column="blog_num" jdbcType="INTEGER" property="blogNum" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="relative_file_path" jdbcType="VARCHAR" property="relativeFilePath" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
  </resultMap>
</mapper>